In [1]:
import pandas as pd


from input_data import INPUT_DATA
from create_dataset import create_datastructure

In [2]:
# get data
data = create_datastructure(INPUT_DATA)

In [3]:
# create a dataframe
df = pd.DataFrame.from_dict(data, orient='index')
df.head(5)

      GuideSession  GuideDownload  ConnectionRequested  PhotoUpload
757           22.0            2.0                  NaN          NaN
194            5.0            1.0                  1.0         14.0
1656          32.0            1.0                  NaN          NaN
563           11.0            1.0                  NaN          2.0
1276          13.0            1.0                  NaN          NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 757 to 1789
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GuideSession         2489 non-null   float64
 1   GuideDownload        2488 non-null   float64
 2   ConnectionRequested  510 non-null    float64
 3   PhotoUpload          676 non-null    float64
dtypes: float64(4)
memory usage: 97.7 KB

In [5]:
df = df.reset_index()

In [9]:
df.head()

   index  GuideSession  GuideDownload  ConnectionRequested  PhotoUpload
0    757          22.0            2.0                  NaN          NaN
1    194           5.0            1.0                  1.0         14.0
2   1656          32.0            1.0                  NaN          NaN
3    563          11.0            1.0                  NaN          2.0
4   1276          13.0            1.0                  NaN          NaN

In [10]:
df.describe()

,index,GuideSession,GuideDownload,ConnectionRequested,PhotoUpload
count,2500.00000,2489.000000,2488.000000,510.000000,676.000000
mean,1249.50000,19.746083,1.446141,2.147059,7.423077
std,721.83216,10.535454,0.782494,1.632173,6.694940
min,0.00000,1.000000,1.000000,1.000000,1.000000
25%,624.75000,13.000000,1.000000,1.000000,2.000000
50%,1249.50000,19.000000,1.000000,2.000000,4.000000
75%,1874.25000,24.000000,2.000000,3.000000,14.000000
max,2499.00000,161.000000,6.000000,11.000000,24.000000

In [11]:
# rename user id 
df.rename(columns={"index": "UserId"})

      UserId  GuideSession  GuideDownload  ConnectionRequested  PhotoUpload
0        757          22.0            2.0                  NaN          NaN
1        194           5.0            1.0                  1.0         14.0
2       1656          32.0            1.0                  NaN          NaN
3        563          11.0            1.0                  NaN          2.0
4       1276          13.0            1.0                  NaN          NaN
...      ...           ...            ...                  ...          ...
2495    1563           NaN            1.0                  NaN          NaN
2496    1455           NaN            3.0                  NaN          NaN
2497    1357           NaN            1.0                  NaN          NaN
2498    1040           NaN            1.0                  NaN          NaN
2499    1789           NaN            1.0                  NaN          NaN

[2500 rows x 5 columns]